<h1 style="color:blue;">Add product</h1>
<br>

<form action="/personas" method="post" name="personas">

    <div class="form-group">
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="placa" id="title" name="title" class="form-control">
    </div>

    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input type="number" placeholder="13444" id="price" name="price" class="form-control">
    </div>


    <button>Submit</button>

</form>